@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* ^^ ---------------------------------------- HOME PAGE --------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

#wrapper {
    background-color: #D7E0EA;
}

#mainpage {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

}

#nav-left {
    text-align: left;
    padding-top: 10px;
    padding-left: 5px;

}

#nav-left a {
    text-decoration: none;
    color: #09143B;
    font-family: "Poppins", sans-serif;

}

#nav-right {
    text-align: right;
    gap: 50px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5px;
    

}

#nav-right a {
    text-decoration: none;
    color: #09143B;
    font-family: "Poppins", sans-serif;
    

}

#titre_homePage {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
}
#HomePage_header {
    width: 100%;
    height: 800px;
    background-color: #09143B;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#titre_homePage h1 {
    font-size: xxx-large;
    color: white;

}

#titre_homePage h3 {
    font-size: large;
    color: white;

}

#latestTopic {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 250px;

}

#community {
    width: 100%;
    height: 100px;
    background-color: white;

}

#Discover {
    width: 100%;
    height: 500px;
}

#Activate {
    width: 100%;
    height: 500px;
    background-color: white;
}

.lateTopic {
    width: 427px;
    height: 65px;
    background-color: #09143B;
    border-radius: 15px;
}

#div1 {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 50px;
}

#div2 {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: flex-end;
    gap: 50px;
}

/*^^ ---------------------------------- LISTE CATEGORIES  ---------------------------------------------- */

.categories {
    width: 249px;
    height: 155px;
    background-color: #09143B;
    display: flex;
    gap: 50px;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 50px;
    border-radius: 15px;
}

.categories p {
    display: flex;
    text-align: center;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    
 }

.categories p b {
   display: flex;
   text-align: center;
   text-decoration: none;
   color: white;
}

#forum a {
    display: flex;
   text-align: center;
   text-decoration: none;
   color: white;
}

h1 {
    margin-left: 60px;
}

#wrapTopic {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
}

/* ^^ ------------------------------------------ LISTE ... ----------------------------------------------------- */