@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* ^^ ---------------------------------------- HOME PAGE --------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

#forum {
    height: auto;
    margin-bottom: 100px;
    margin-top: 50px;
}

#wrapper {
    background-color: #D7E0EA;
}

#mainpage {
    display: flex;
    flex-direction: column;
    min-height: 120vh;
    align-content: center;
    justify-content: flex-start;

}

nav {
    margin-top: 20px;
}

#nav-left {
    text-align: left;
    padding-top: 10px;
    padding-left: 5px;

}

#nav-left a {
    text-decoration: none;
    color: #09143B;
    font-family: "Poppins", sans-serif;

}

#nav-right {
    text-align: right;
    gap: 50px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5px;
    

}

#nav-right a {
    text-decoration: none;
    color: #09143B;
    font-family: "Poppins", sans-serif;
    

}

#aListUser{
    display: flex;
    width: 100px;
}

#titre_homePage {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
}
#HomePage_header {
    width: 100%;
    height: 850px;
    background-color: #09143B;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#titre_homePage h1 {
    font-size: 90px;
    color: white;

}

#titre_homePage h3 {
    font-size: 25px;
    color: white;

}

#latestTopic {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 200px;

}

#latestTopic h2{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-self: flex-start;
  margin-left: 30px;
  align-self: flex-start;
  font-size: 40px;
  color:  #09143B;

}


#pHome {
    color: white;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    font-size: larger;
}

#div22{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 250px;

}

#community {
    width: 100%;
    height: 100px;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;

}

#community p {
    font-size: 30px;
    margin-left: 60px;
}

#Discover {
    width: 100%;
    height: 700px;
}

#Activate {
    width: 100%;
    height: 700px;
    background-color: white;
}

.lateTopic {
    width: 427px;
    height: 65px;
    background-color: #09143B;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

#div1 {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 50px;
}

#div2 {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: flex-end;
    gap: 50px;
}

#contient {
    display: flex;
    width: 100%;
    height: 700px;
    gap: 300px;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#partText {
    color: #09143B;
    width: 50%;
    margin-left: 100px;

}

#partText h3 {
    color: #09143B;
    font-size: 38px;
    width: 100%;

}

#partText p {
    color: #09143B;
    margin-top: 30px;


}

#partImg {
    width: 50%;



}

footer {
    background-color: #09143B;
    text-align: center;
    display: flex;
    width: 100%;
    height: 100px;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}
/*^^ ---------------------------------- LISTE CATEGORIES  ---------------------------------------------- */

.categories {
    width: 249px;
    height: 155px;
    background-color: #09143B;
    display: flex;
    gap: 50px;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 50px;
    border-radius: 15px;
}

.categories p {
    display: flex;
    text-align: center;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    
 }

.categories p b {
   display: flex;
   text-align: center;
   text-decoration: none;
   color: white;
   font-size: x-large;
}

#forum a {
    /* display: flex; */
    text-align: center;
    text-decoration: none;
    color: white;
}

#forum p {
    display: flex;
    flex-direction: row;
}

#catTitre {
    margin-left: 60px;
}

#wrapTopic {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

/* ^^ ------------------------------------------ LISTE TOPICS ----------------------------------------------------- */

#listTopic {
    color: #09143B;
    margin-bottom: 15px;
    margin-left: 15px;
}


#cardTopic {
    width: 403px;
    height: 156px;
    background-color: #09143B;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 10px;
    flex-wrap: wrap;

}

#cardTopic h2 {
    color: white;
    margin-left: 30px;
}

#cardTopic p {
    color: white;
    margin-left: 30px;
}

#cardTopic a {
text-decoration: none;
color: white;
}

#wrapListTopic {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;

}

#h1Topic {
    /* margin-left: 60px; */
    margin-top: 10px;
    margin-bottom: 10px;
}

#titreTopic {
    margin-left: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#log a{
    color: #09143B;
    margin-left: 60px;
}

#postsWrap {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    /* padding-left: 60px;
    width: 100%;
    background-color: #09143B;
    color: white;
    padding-bottom: 30px;
    padding-top: 30px; */
}

#wrapContentEtUser{
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
    align-items: flex-start;
    padding-left: 60px;
    width: 100%;
    background-color: #09143B;
    color: white;
    margin-bottom: 30px;
    margin-top: 30px;
    padding-top: 20px;
    padding-right: 60px;
    justify-content: space-between;
}

button{
    border-radius: 10px;
    background-color: #09143B;
    width: auto;
    height: 34px;
    padding-left: 10px;
    padding-right: 10px;
}

#divUsersList{
    padding-left: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #09143B;
}

/* ^^----------------------------- LIST POSTS AND TOPICS BY USER  -------------------------- */

div.divTopPost {
    width: 100%;
    background-color: #D9D9D9;
    padding-bottom: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-left: 30px;
}

.titreH {
    margin-left: 30px;
    color: #09143B;
    margin-top: 10px;
    margin-bottom: 15px;
    
}

#btC {
    background-color: #D7E0EA;
    border: #D7E0EA;
    font-size: large;
    margin-top: 10px;
    margin-left: 10px;
}

#btC a{
    color: #09143B;
}

#updateSupp {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

input{
    border-radius: 10px;
    background-color: #09143B;
    color: white;
    padding: 5px;
    width: 100px;

}

#updateSupp a {
    color: white;
    padding: 5px;

}

#updateSubmit{
    border-radius: 10px;
    background-color: #D7E0EA;
    color: #09143B;

}

textarea#content{
    width: 500px;
    height: 80px;
    border: none;
    border-radius: 10px;
}

#name{
    background-color: white;
    border: none;
    width: auto;
    color: #09143B;
}

#question {
    border: none;
    border-radius: 10px;
}

/* ^^--------------------------------------- INSCRIPTION ----------------------------------- */

/* !index.php?ctrl=security&action=registration */

#inscription {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding-bottom: 40px;
    
}

.inputInscription {
    width: 303px;
    /* height: 30px; */
    border-radius: 10px;
    background-color: white;
    padding: 5px;
    /* width: 100px; */
    color: #09143B;
    border: none;
}

.connexion {
    width: 750px;
    height: auto;
    background-color: #09143B;
    color: white;
    border-radius: 15px;
}

.connexion h1 {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    padding-top: 40px;
    
}

#container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 50px;
}

#inputSubmit {
    width: 150px;
}

.nameLabel {
    align-self: flex-start;
    margin-left: 225px;
}

#Connexion {
    display: flex;
    color: #09143B;
}

#Connexion a{
    color: #09143B;
}

input.inputConnexion{
    border-radius: 10px;
    background-color: white;
    padding: 5px;
    /* width: 100px; */
    color: #09143B;
    width: 200px;
    border: none;
}

#inputSubmitInscription{
    background-color: white;
    color: #09143B;
    width: 150px;
    border: none;
}

/* ^^------------------------------------ LOGIN -------------------------------------- */

#connexionForm {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 30px;
}

.labelConnect {
    display: flex;
    align-self: flex-start;
    margin-left: 292px;
}

/* ^^-------------------------------- PROFIL USER -------------------------------------- */

.partsProfil {
    width: 100%;
    height: auto;
    background-color: #D9D9D9;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

#h1profilName {
    margin: 30px;
}

/* ^^-------------------------------- LISTE POST USER PART ----------------------------------- */

#form-add {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-top: 20px;
}

#formContent {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#envoyerSubmit {
    width: 100px;
}

/* ^^ -----------------------------  UPDATE POST  --------------------------------------- */
#wrapperUpdatePost{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    background-color: #09143B;
    padding-top: 20px;
    padding-bottom: 20px;
}

.lastPost{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    margin-left: 60px;
    margin-bottom: 30px;
    margin-top: 15px;
    color: white;
}

#modifForm{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    margin-left: 60px;
    color: white;
}

#h3update{
    display: flex;
    /* color: #09143B; */
    margin-left: 60px;
}

/* ^^ ----------------------------------- ADD TOPIC ----------------------------------- */
#form-addTopic{
    display: flex;
    margin-left: 15px;
    margin-top: 20px;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

#TopicChange{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
}